.git
.gitignore
README.md
Dockerfile
docker-compose.yml
.env
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
htmlcov
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.tox
.metadata
.sass-cache
Scrapes
.DS_Store
Thumbs.db
models/local_*
test*
tests*
*.joblib